{%extends "layout.html" %}

{% block main %}
<div class="content">
    <div class="word-container">
        {% for word in paragraph %}
        <div class="word">
            {% for char in word %}{% if loop.last %}<span class="letter ll">{{ char }}</span>{% else %}<span class="letter">{{ char }}</span>{% endif %}{% endfor %}<span class="letter"> </span>
        </div>
        {% endfor %}
    </div>
    <div class="input-container">
        <input type="text" class="wordinput" autofocus autocomplete="off" autocapitalize="off" onblur="moveToInput()">
    </div>
    <div class="timer-container off">
        wpm
    </div>
</div>
{% endblock%}

