<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Griffy">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👻</text></svg>">
    <title>Spooky Type {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="spooky-title">SpookyType</div>
        <div class="typing-prompt">
            Start typing to see your typing speed.
        </div>
    </div>
    <main>
        <div class="main-container">
        {% block main %}{% endblock %}
        </div>
    </main>
    <!-- <footer class="footer">Created for CS50 Project, using Python 3.10, Flask 3.0, and JavaScript</footer> -->
    <script defer src="../static/main.js"></script>
</body>
</html>